<template>
    <div>
        <div class="flex flex-wrap">

            <div class="w-full lg:w-4/12 xl:w-3/12 px-4" v-for="board in dashboards" :key="board.id">
                <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                    <div class="flex-auto p-4">
                        <div class="flex flex-wrap">
                            <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                                <inertia-link :href="route('dashboards.show', board)">
                                    <span class="font-semibold text-xl text-gray-800" >{{ board.name }}</span>
                                </inertia-link>
                                <h5 class="text-gray-500 uppercase font-bold text-xs">
                                    Total tasks: {{ board.totalTasks }}
                                </h5>

                            </div>
                        </div>
                        <p class="text-sm text-gray-500 mt-4">
                            <button
                                class="text-gray-400 background-transparent font-bold uppercase py-1 text-xs outline-none focus:outline-none mr-1 mb-1 hover:text-gray-600"
                                type="button"
                                style="transition: all .15s ease"
                                @click="edit(board)">
                                Edit
                            </button>
                            <button
                                class="text-red-500 background-transparent font-bold uppercase px-1 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 hover:text-red-800"
                                type="button"
                                style="transition: all .15s ease"
                                @click="confirmDeletion(board)">
                                Delete
                            </button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full lg:w-4/12 xl:w-3/12 px-4">
                <div class="relative flex flex-col min-w-0 py-13 text-green-800 font-bold uppercase cursor-pointer justify-center text-center break-words bg-green-200 w-full h-full rounded mb-6 xl:mb-0 shadow-lg" @click="create()">
                    Create new
                </div>
            </div>

        </div>

        <jet-dialog-modal :show="beingUpdate" @close="beingUpdate = null">
            <template #title>
                {{ editFormTitle }}
            </template>

            <template #content>
                <div class="mb-3 pt-0">
                    <jet-label for="name" value="Name" />
                    <jet-input id="name" type="text" class="mt-1 block w-full" v-model="updateForm.name" ref="name"/>
                    <jet-input-error :message="updateForm.error('name')" class="mt-2" />
                </div>
            </template>

            <template #footer>
                <jet-secondary-button @click.native="beingUpdate = null">
                    Nevermind
                </jet-secondary-button>

                <jet-button class="ml-2" @click.native="updateBoard" :class="{ 'opacity-25': updateForm.processing }" :disabled="updateForm.processing">
                    Save
                </jet-button>
            </template>
        </jet-dialog-modal>

        <jet-confirmation-modal :show="beingDeleted" @close="beingDeleted = null">
            <template #title>
                Delete Dashboard
            </template>

            <template #content>
                Are you sure you would like to delete this Dashboard?
            </template>

            <template #footer>
                <jet-secondary-button @click.native="beingDeleted = null">
                    Nevermind
                </jet-secondary-button>

                <jet-danger-button class="ml-2" @click.native="deleteBoard" :class="{ 'opacity-25': deleteForm.processing }" :disabled="deleteForm.processing">
                    Delete
                </jet-danger-button>
            </template>
        </jet-confirmation-modal>
    </div>

</template>

<script>
    import JetButton from '@/Jetstream/Button'
    import JetConfirmationModal from '@/Jetstream/ConfirmationModal'
    import JetDangerButton from '@/Jetstream/DangerButton'
    import JetDialogModal from '@/Jetstream/DialogModal'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton'
    import JetInput from '@/Jetstream/Input'
    import JetInputError from '@/Jetstream/InputError'
    import JetLabel from '@/Jetstream/Label'

    export default {
        props: ['dashboards'],

        components: {
            JetSecondaryButton,
            JetDangerButton,
            JetDialogModal,
            JetConfirmationModal,
            JetButton,
            JetInput,
            JetInputError,
            JetLabel,
        },

        name: "BoardCards",
        data() {
            return {
                updateForm: this.$inertia.form({
                    name: ''
                }, {
                    resetOnSuccess: false,
                    bag: 'updateBoard',
                }),
                deleteForm: this.$inertia.form(),
                beingDeleted: null,
                beingUpdate: null,
                editFormTitle: 'Create'
            }
        },
        methods: {
            updateBoard() {
                if (this.editFormTitle === 'Update'){
                    this.updateForm.put(route('dashboards.update',this.beingUpdate), {
                        preserveScroll: true,
                        preserveState: true,
                    }).then(response => {
                        this.beingUpdate = null
                        this.updateForm.name = ''
                    })
                } else {
                    this.updateForm.post(route('dashboards.store'), {
                        preserveScroll: true,
                        preserveState: true,
                    }).then(response => {
                        this.beingUpdate = null
                        this.updateForm.name = ''
                    })
                }
            },
            deleteBoard() {
                this.deleteForm.delete(route('dashboards.destroy', this.beingDeleted), {
                    preserveScroll: true,
                    preserveState: true,
                }).then(() => {
                    this.beingDeleted = null
                })
            },
            create() {
                this.editFormTitle = 'Create'
                this.beingUpdate = true;
            },
            edit(board) {
                this.editFormTitle = 'Update'
                this.updateForm.name = board.name
                this.beingUpdate = board;
            },
            confirmDeletion(board) {
                this.beingDeleted = board
            },
        }
    }
</script>

<style scoped>

</style>
