<template>
    <div>
        <div class="flex flex-wrap justify-center">

            <div class="w-full lg:w-4/12 xl:w-2/12 px-4 min-h-screen" v-for="column in columns" :key="column.id">
                <div class="px-3 py-3 bg-gray-50 sm:p-1">
                    <div class="relative px-3 py-3 flex flex-col min-w-0 font-bold uppercase cursor-pointer justify-center text-center break-words bg-white w-full h-full rounded mb-6 xl:mb-0 shadow-lg" @click="editColumn(column)">
                        {{ column.name }}
                    </div>
                </div>
                <div class="flex-col items-start justify-center py-3 bg-gray-50 min-h-full sm:px-6">

                    <draggable class="flex-col items-start justify-center py-3 w-full"
                               :list="column.tasks" group="people" @change="dragDrop($event,column.id)">
                        <div
                            class="relative px-3 py-3 mb-3 flex flex-col min-w-0 cursor-pointer justify-center text-center break-words bg-white w-full h-full rounded shadow-lg"
                            v-for="task in column.tasks"
                            :key="task.id"
                            @click="showTask(task)">
                            {{ task.name }}
                        </div>
                    </draggable>


                    <div class="px-3 py-3 bg-gray-50 sm:p-1 w-full">
                        <div class="relative px-3 py-3 flex flex-col min-w-0 text-green-500 font-bold uppercase cursor-pointer justify-center text-center break-words bg-green-100 w-full h-full rounded mb-6 xl:mb-0 shadow-lg" @click="addTask(column)">
                            New task
                        </div>
                    </div>

                </div>
            </div>

            <div class="w-full lg:w-4/12 xl:w-2/12 px-4 min-h-screen">
                <div class="px-3 py-3 bg-gray-50 sm:p-1">
                    <div class="relative px-3 py-3 flex flex-col min-w-0 text-green-800 font-bold uppercase cursor-pointer justify-center text-center break-words bg-green-200 w-full h-full rounded mb-6 xl:mb-0 shadow-lg" @click="addColumn">
                        New column
                    </div>
                </div>

                <div class="flex items-center justify-end px-4 py-3 bg-gray-100 min-h-full sm:px-6">

                </div>
            </div>

        </div>

        <jet-dialog-modal :show="columnEdit" @close="columnEdit = null">
            <template #title>
                <div class="flex justify-between">
                    <div class="text-lg flex justify-center items-center">{{ editFormTitle }}</div>
                    <jet-danger-button
                        class="ml-2"
                        @click.native="confirmDeletionColumn"
                        v-show="columnEdit !== true && columnEdit !== null">
                        Delete
                    </jet-danger-button>
                </div>
            </template>

            <template #content>
                <div class="mb-3 pt-0">
                    <jet-label for="column_name" value="Name" />
                    <jet-input id="column_name" type="text" class="mt-1 block w-full" v-model="updateColumnForm.name" ref="column_name"/>
                    <jet-input-error :message="updateColumnForm.error('name')" class="mt-2" />
                </div>
            </template>

            <template #footer>
                <jet-secondary-button @click.native="columnEdit = null">
                    Nevermind
                </jet-secondary-button>

                <jet-button class="ml-2" @click.native="updateColumn" :class="{ 'opacity-25': updateColumnForm.processing }" :disabled="updateColumnForm.processing">
                    Save
                </jet-button>
            </template>
        </jet-dialog-modal>

        <jet-dialog-modal :show="taskEdit" @close="taskEdit = null">
            <template #title>
                <div class="flex justify-between">
                    <div class="text-lg flex justify-center items-center">{{ editFormTitle }}</div>
                    <jet-danger-button
                        class="ml-2"
                        @click.native="confirmDeletionTask"
                        v-show="taskEdit !== true && taskEdit !== null">
                        Delete
                    </jet-danger-button>
                </div>
            </template>

            <template #content>
                <div class="mb-3 pt-0">
                    <jet-label for="task_name" value="Title" />
                    <jet-input id="task_name" type="text" class="mt-1 block w-full" v-model="updateTaskForm.name" ref="task_name"/>
                    <jet-input-error :message="updateTaskForm.error('name')" class="mt-2" />
                </div>
                <div class="mb-3 pt-0">
                    <jet-label for="task_description" value="Description" />
                    <textarea  id="task_description" row="3" class="mt-1 block w-full form-input rounded-md shadow-sm" v-model="updateTaskForm.description" ref="task_description"/>
                    <jet-input-error :message="updateTaskForm.error('description')" class="mt-2" />
                </div>
                <div class="grid grid-cols-6 gap-6">
                    <div class="mb-3 pt-0 col-span-6 sm:col-span-3">
                        <jet-label for="task_column_id" value="Status" />
                        <select id="task_column_id"
                                class="mt-1 block form-select w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                                ref="task_column_id"
                                v-model="updateTaskForm.column_id">
                            <option v-for="option in columns" :value="option.id">{{ option.name }}</option>

                        </select>
                        <jet-input-error :message="updateTaskForm.error('column_id')" class="mt-2" />
                    </div>
                    <div class="mb-3 pt-0 col-span-6 sm:col-span-3">
                        <jet-label for="task_executor_id" value="Executor" />
                        <select id="task_executor_id"
                                class="mt-1 block form-select w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                                ref="task_executor_id"
                                v-model="updateTaskForm.executor_id">
                            <option v-for="option in users" :value="option.id">{{ option.name }}</option>

                        </select>
                        <jet-input-error :message="updateTaskForm.error('executor_id')" class="mt-2" />
                    </div>
                </div>
            </template>

            <template #footer>
                <jet-secondary-button @click.native="taskEdit = null">
                    Nevermind
                </jet-secondary-button>

                <jet-button class="ml-2" @click.native="updateTask" :class="{ 'opacity-25': updateTaskForm.processing }" :disabled="updateTaskForm.processing">
                    Save
                </jet-button>
            </template>
        </jet-dialog-modal>

        <jet-confirmation-modal :show="columnDeleted" @close="columnDeleted = null">
            <template #title>
                Delete Column
            </template>

            <template #content>
                Are you sure you would like to delete this Column?
            </template>

            <template #footer>
                <jet-secondary-button @click.native="columnDeleted = null">
                    Nevermind
                </jet-secondary-button>

                <jet-danger-button class="ml-2" @click.native="deleteColumn" :class="{ 'opacity-25': deleteForm.processing }" :disabled="deleteForm.processing">
                    Delete
                </jet-danger-button>
            </template>
        </jet-confirmation-modal>

        <jet-confirmation-modal :show="taskDeleted" @close="taskDeleted = null">
            <template #title>
                Delete Dashboard
            </template>

            <template #content>
                Are you sure you would like to delete this Dashboard?
            </template>

            <template #footer>
                <jet-secondary-button @click.native="taskDeleted = null">
                    Nevermind
                </jet-secondary-button>

                <jet-danger-button class="ml-2" @click.native="deleteTask" :class="{ 'opacity-25': deleteForm.processing }" :disabled="deleteForm.processing">
                    Delete
                </jet-danger-button>
            </template>
        </jet-confirmation-modal>
    </div>
</template>

<script>
    import JetSecondaryButton from "@/Jetstream/SecondaryButton";
    import JetDangerButton from "@/Jetstream/DangerButton";
    import JetDialogModal from "@/Jetstream/DialogModal";
    import JetConfirmationModal from "@/Jetstream/ConfirmationModal";
    import JetButton from "@/Jetstream/Button";
    import JetInput from "@/Jetstream/Input";
    import JetInputError from "@/Jetstream/InputError";
    import JetLabel from "@/Jetstream/Label";
    import draggable from 'vuedraggable'

    export default {
        props: ['columns','dashboardId','users'],
        components: {
            JetSecondaryButton,
            JetDangerButton,
            JetDialogModal,
            JetConfirmationModal,
            JetButton,
            JetInput,
            JetInputError,
            JetLabel,
            draggable
        },
        name: "BoardColumns",
        data() {
            return {
                updateColumnForm: this.$inertia.form({
                    name: '',
                    dashboard_id: this.dashboardId,
                    sort: 0,
                }, {
                    resetOnSuccess: false,
                    bag: 'updateColumn',
                }),
                updateTaskForm: this.$inertia.form({
                    name: '',
                    description: '',
                    sort: 0,
                    column_id: '',
                    executor_id: ''
                }, {
                    resetOnSuccess: false,
                    bag: 'updateTask',
                }),
                deleteForm: this.$inertia.form(),
                columnEdit: null,
                columnDeleted: null,
                taskDeleted: null,
                taskEdit: null,
                editFormTitle: 'Create'
            }
        },
        methods: {
            updateColumn() {
                if (this.columnEdit === true){
                    this.updateColumnForm.post(route('columns.store'), {
                        preserveScroll: true,
                        preserveState: true,
                    }).then(response => {
                        this.updateColumnFormReset()
                    })
                } else {
                    this.updateColumnForm.put(route('columns.update',this.columnEdit), {
                        preserveScroll: true,
                        preserveState: true,
                    }).then(response => {
                        this.updateColumnFormReset()
                    })
                }
            },
            updateTask() {
                if (this.taskEdit === true){
                    this.updateTaskForm.post(route('tasks.store'), {
                        preserveScroll: true,
                        preserveState: true,
                    }).then(response => {
                        this.beingUpdate = null
                        this.updateTaskFormReset()
                    })
                } else {
                    this.updateTaskForm.put(route('tasks.update',this.taskEdit), {
                        preserveScroll: true,
                        preserveState: true,
                    }).then(response => {
                        this.beingUpdate = null
                        this.updateTaskFormReset()
                    })
                }
            },
            addColumn() {
                this.editFormTitle = 'Create'
                this.columnEdit = true;
            },
            addTask(column) {
                console.log(column)
                this.editFormTitle = 'Create'
                this.updateTaskForm.column_id = column.id
                this.updateTaskForm.sort = column.tasks.length
                this.taskEdit = true;
            },
            deleteTask() {
                this.deleteForm.delete(route('tasks.destroy', this.taskDeleted), {
                    preserveScroll: true,
                    preserveState: true,
                }).then(() => {
                    this.taskDeleted = null
                    this.updateTaskFormReset()
                })
            },
            deleteColumn() {
                this.deleteForm.delete(route('columns.destroy', this.columnDeleted), {
                    preserveScroll: true,
                    preserveState: true,
                }).then(() => {
                    this.columnDeleted = null
                    this.updateColumnFormReset()
                })
            },
            editColumn(column) {
                this.editFormTitle = 'Update'
                this.updateColumnForm.name = column.name
                this.columnEdit = column;
            },
            showTask(task) {
                this.editFormTitle = 'Update'
                this.updateTaskForm.name = task.name
                this.updateTaskForm.description = task.description
                this.updateTaskForm.sort = task.sort
                this.updateTaskForm.column_id = task.column_id
                this.updateTaskForm.executor_id = task.executor_id
                this.taskEdit = task;
            },
            confirmDeletionTask() {
                this.taskDeleted = this.taskEdit
            },
            confirmDeletionColumn() {
                this.columnDeleted = this.columnEdit
            },
            updateTaskFormReset(){
                this.taskEdit = null
                this.updateTaskForm.name = ''
                this.updateTaskForm.description = ''
                this.updateTaskForm.sort = 0
                this.updateTaskForm.column_id = ''
                this.updateTaskForm.executor_id = ''
            },
            updateColumnFormReset(){
                this.columnEdit = null
                this.updateColumnForm.name = ''
                this.updateColumnForm.dashboard_id = this.dashboardId
                this.updateColumnForm.sort = this.columns.length
            },
            dragDrop(evt,columnid){
                console.log(evt);
                if (evt.added || evt.moved){
                    let element = evt.added ? evt.added.element : evt.moved.element
                    let newIndex = evt.added ?  evt.added.newIndex : evt.moved.newIndex
                    window.axios.post('/tasks/drag-drop',{
                        task_id: element.id,
                        sort: newIndex,
                        column_id: columnid
                    })
                    element.sort = newIndex;
                    element.column_id =columnid
                }
            }
        }
    }
</script>

