<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboards
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="overflow-hidden px-3 pb-6">
                    <board-cards :dashboards="dashboards"/>
                </div>
            </div>
        </div>


    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import BoardCards from "@/Pages/Dashboards/BoardCards";

    export default {
        props: ['dashboards'],

        components: {
            AppLayout,
            BoardCards,
        },

    }
</script>
