<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                {{ dashboard.data.name }}
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-8xl mx-auto sm:px-6 lg:px-8">
                <div class="overflow-hidden px-3 pb-6">
                    <board-columns
                        :columns="dashboard.data.columns"
                        :dashboard-id="dashboard.data.id"
                        :users="users"/>
                </div>
            </div>
        </div>


    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import BoardColumns from "@/Pages/Dashboards/BoardColumns";

    export default {
        props: ['dashboard','users'],

        components: {
            AppLayout,
            BoardColumns
        },

    }
</script>
